body {
  margin: 0px;
  font-family: Roboto, Arial;
  background-color: rgb(255, 255, 255);
  padding-left: 60px;
  padding-top: 50px;
  padding-bottom: 20px;
}
@media (max-width: 576px) {
  body {
    padding-left: 0px;
    padding-top: 30px;
  }
}
