.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 54px;
  background-color: rgb(255, 255, 255);
  right: 0px;
  left: 0;
  top: 0;
  border-bottom-width: 0.2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(192, 191, 191);
  z-index: 100;
  margin-bottom: 20px;
}

.hamburger-menu {
  width: 25px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: white;
  cursor: pointer;
}

.youtube-logo {
  width: 85px;
  background-color: white;
  cursor: pointer;
}

.menu-youtube {
  display: flex;
  align-items: center;
}

.search {
  height: 35px;
  padding-left: 12px;
  font-size: 16px;
  border-radius: 3px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  font-size: 15px;
  box-shadow: inset 0px 1px 2px rgb(235, 235, 235);
  margin-right: 0px;
  flex: 1;
  width: 0;
  min-width: 0;
}

.search-icon {
  width: 23px;
}

.search-icon-button {
  background-color: rgb(244, 244, 244);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-radius: 2px;
  padding: 7px 18px;
  margin-left: -5px;
  cursor: pointer;
  margin-right: 7px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-icon-button .tooltip,
.voice-search-icon-container .tooltip,
.upload-container .tooltip,
.youtube-apps-container .tooltip,
.notifications-container .tooltip {
  position: absolute;
  background-color: rgba(11, 11, 11, 0.35);
  color: white;
  font-size: 12px;
  padding: 5px 9px;
  bottom: -40px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-icon-button:hover .tooltip,
.voice-search-icon-container:hover .tooltip,
.upload-container:hover .tooltip,
.youtube-apps-container:hover .tooltip,
.notifications-container:hover .tooltip {
  opacity: 1;
}

.voice-search-icon {
  width: 23px;
  margin-left: 0px;
  padding: 5px 6px;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  border-radius: 15px;
}

.voice-search-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-voice {
  display: flex;
  align-items: center;
  margin-left: 60px;
  flex: 1;
  max-width: 470px;
}

.upload {
  width: 23px;
  background-color: white;
  margin-right: 18px;
  cursor: pointer;
}

.upload-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.youtube-apps {
  width: 23px;
  background-color: white;
  margin-right: 18px;
  cursor: pointer;
}

.youtube-apps-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications {
  width: 23px;
  background-color: white;
  margin-right: 18px;
  cursor: pointer;
}

.notifications-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notifications-number {
  position: absolute;
  font-size: 10px;
  background-color: rgb(190, 0, 0);
  color: white;
  padding: 1px 5px;
  border-radius: 15px;
  top: 1px;
  right: 14.5px;
}

.my-channel {
  width: 30px;
  border-radius: 25px;
  cursor: pointer;
}

.my-channel-notifications {
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 24px;
  margin-right: 29px;
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .header {
    height: 30px;
    margin-bottom: 10px;
  }

  .hamburger-menu {
    width: 14px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .youtube-logo {
    width: 50px;
  }

  .search {
    height: 18px;
    padding-left: 30px;
    font-size: 10px;
    border-radius: 3px;
    border-width: 1px;
    flex: 1;
    width: 40px;
    min-width: 0;
  }

  .search-icon {
    width: 10px;
  }

  .search-icon-button {
    padding: 5px 6px;
    margin-left: -5px;
    margin-right: 7px;
  }

  .search-icon-button .tooltip,
  .voice-search-icon-container .tooltip,
  .upload-container .tooltip,
  .youtube-apps-container .tooltip,
  .notifications-container .tooltip {
    font-size: 10px;
    padding: 3px 7px;
    bottom: -25px;
  }

  .voice-search-icon {
    width: 16px;
    padding: 3px 5px;
  }

  .search-voice {
    display: flex;
    align-items: center;
    margin-left: 5px;
    flex: 1;
    max-width: 470px;
  }

  .upload {
    width: 16px;
    margin-right: 5px;
  }

  .youtube-apps {
    width: 16px;
    margin-right: 5px;
  }

  .notifications {
    width: 16px;
    margin-right: 5px;
  }

  .notifications-number {
    font-size: 7px;
    padding: 1px 3px;
    border-radius: 15px;
    top: -1px;
    right: 12px;
  }

  .my-channel {
    width: 20px;
    border-radius: 25px;
  }

  .my-channel-notifications {
    width: 150px;
    margin-left: 5px;
  }
}
