.sidebar {
  position: fixed;
  width: 70px;
  background-color: white;
  font-size: 10px;
  top: 54px;
  left: 0;
  bottom: 0px;
  padding-top: 3px;
  z-index: 300;
}

.home-icon,
.explore-icon,
.subscriptions-icon,
.originals-icon,
.youtube-music-icon,
.library-icon {
  width: 23px;
  margin-bottom: 4px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
}

.icon:hover {
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}