.thumbnail {
  width: 100%;
  margin: 0px;
}

.thumbnail-container {
  margin-bottom: 7px;
  position: relative;
}

.channel {
  width: 35px;
  border-radius: 25px;
}

.channel-container {
  display: inline-block;
  vertical-align: top;
}

.video-title {
  font-size: 13px;
  font-weight: 550;
  line-height: 20px;
  margin: 0px;
  margin-bottom: 7px;
  display: block;
}

.video-author {
  font-size: 11px;
  color: gray;
  margin: 0px;
  margin-bottom: 5px;
}

.video-view {
  font-size: 11px;
  color: gray;
  margin: 0px;
}

.video-review {
  margin: 0px;
  display: flex;
}

.video-info {
  margin-left: 10px;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  right: 4px;
  bottom: 12px;
  font-size: 12px;
  padding: 3px 2px;
  border-radius: 2px;
}

.video-card {
  display: block;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 22px;
}

@media (max-width: 576px) {
  .channel {
    width: 25px;
    border-radius: 25px;
  }

  .video-title {
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    margin-bottom: 7px;
  }

  .video-author {
    font-size: 9px;
    margin-bottom: 2px;
  }

  .video-view {
    font-size: 9px;
  }

  .video-info {
    margin-left: 8px;
  }

  .video-time {
    right: 2px;
    bottom: 6px;
    font-size: 7px;
    padding: 2px 2px;
    border-radius: 2px;
  }

  .video-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 15px;
    padding-left: 0px;
    padding-right: 11px;
    padding-top: 0px;
  }
}
